**Python Basics Questions**

1. Python is a high-level, interpreted programming language, which easy to use and simple code.
- it popular because of its simplicity, it open source, wide range of libraries, and can use fo rmachine learning, web and GUI applications, data analysis.

2. interoreter in python meanse it will execute each code line by line, and will help to find the error easily.

3. pre defined keywords are the reserved words that are already defined in python, like- if, for, while.

4. No, keywords cant be use as variables because keywords are speacial pre defined characters.

5. mutability means objects can be changed.

6. a list is a built in data structure more like a box where we can store the data in specific order so, the value can be changed but, in tuples it cant be changed if it is created once.

7. "==" is use for value equality.
but "is" is use to check the identity.

8. logical operators in python are- AND,OR,NOT.

9. TYPE casting means coverting the data types from on to other.

10. coverting data types by explicitly using functions or implicitly during operators.

11. conditional statement help the program to choose the path depnding on the specific condition defined.

12. elif excuted after the if condition comes false, and it check the both conditons if first come false, then will check the second one.

13. for loop is basically called iteration loop, it works till the condtions false.
but in while loop it execute an extra output, then check the condition.

14. it beast fro scenario like when we dont know how many times a loop needs to run, and it will keeps going until the data is correct.

**PRACTICAL QUESTIONS**

In [1]:
#Q1
print("Hello, World!")

Hello, World!

In [2]:
#Q2
name = "Tannu Kumari Gupta"
age = 24
print(f"My name is {name}, and I am {age} years old.")

My name is Tannu Kumari Gupta, and I am 24 years old.

In [3]:
#Q3
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
#Q4
import keyword
word = input("Enter a word: ")
print(keyword.iskeyword(word))

Enter a word: and
True

In [8]:
#Q5
mylist = [1, 2, 3]
mytuple = (1, 2, 3)
mylist[1] = 10

In [9]:
#Q6
def modify_list(l):
    l.append(4)

def modify_int(n):
    n += 1

lst = [1, 2, 3]
modify_list(lst)
print(lst)  # List is modified

num = 5
modify_int(num)
print(num)  # Integer remains unchanged

[1, 2, 3, 4]
5

In [10]:
#Q7
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Division:", a / b)

Enter first number: 4
Enter second number: 7
Sum: 11
Difference: -3
Product: 28
Division: 0.5714285714285714

In [11]:
#Q8
x = True
y = False
print(x and y)
print(x or y)
print(not x)

False
True
False

In [13]:
#Q9
val = input("Enter something: ")
print(int(val), float(val), bool(val))

Enter something: 1
1 1.0 True

In [14]:
#Q10
lst = ['1', '2', '3']
int_list = list(map(int, lst))
print(int_list)

[1, 2, 3]

In [15]:
#Q11
num = int(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 56
Positive

In [16]:
#Q12
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
#Q13
total = 0
for i in range(2, 51, 2):
    total += i
print("Sum:", total)

Sum: 650

In [18]:
#Q14
s = input("Enter a string: ")
rev = ''
i = len(s) - 1
while i >= 0:
    rev += s[i]
    i -= 1
print(rev)

Enter a string: eat
tae

In [19]:
#Q15
num = int(input("Enter a number: "))
fact = 1
while num > 1:
    fact *= num
    num -= 1
print("Factorial:", fact)

Enter a number: 12
Factorial: 479001600